:root {
    --primary-color: rgb(243, 243, 139);
    --secondary-color: fuchsia;
    --accent-color: lightgreen;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --background: rgb(0, 132, 255);
    --gradient: radial-gradient(
      circle at 10% 20%,
      rgba(91, 173, 254, 0.46) 0%,
      rgba(91, 224, 254, 0.46) 47.2%,
      rgba(170, 254, 235, 0.43) 90%
    );
    --about-gradient: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  }
  
  body {
    padding: 0 20px;
    background: var(--gradient);
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
  }
  
  h1 {
    color: black;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 80px;
  }
  
  h2 {
    color: black;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 48px;
  }
  
  h3 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  opacity: 0.7;
  }
  
  .clicked-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .clicked-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--background);
  }
  .about-link {
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--background);
  }
  a:hover {
    color: fuchsia;
  }
  
  .primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: blue;
  }